body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header {
    font-size: 50px;
    font-weight: normal;
}

.link a {
    color: aquamarine;
    font-size: 16px;
}

.middle h2 {
    font-size: 42px;
    font-weight: 300;
}

.middle p {
    font-size: 21px;
    color: gray;
    font-family: Verdana;
}

.bottom h2 {
    font-size: 42px;
    font-weight: 300;
}

.bottom a {
    color: aquamarine;
    font-size: 16px;
}

.copyright p {
    color: gray;
    text-align: right;
    font-size: 21px;
}